.base1 {
    padding: 100px 25%;
    padding-top: 50px;
}

.base1 h1 {
    font-size: 64px;
    padding-bottom: 30px;
}

.base1 h2 {
    padding: 25px 0;
}

.base1 p {
    text-align: justify;
    line-height: 1.5em;
}

.base1 img {
    padding-bottom: 40px;
}

@media screen and (max-width: 768px) {
    .base1 {
        padding: 50px 10%;
    }

    .base1 h1 {
        font-size: 48px;
    }

    .base1 h2 {
        font-size: 24px;
    }

    .base1 p {
        font-size: 16px;
    }
    
}
